#menu_toggle,
.top_search .input-group-btn button,
.nav.navbar-nav>li>a,
.breadcrumb a,
body
{
	color: #5A738E !important;
}
.logo-small path,
.logo_normal path
{
	fill: #22B99A;
}
.main_container .scroll-view,
.main_container .nav_title
{
	background: #2A3F54;
}
.metro_container {
	background: #374A5E;
}
.metro_container i,
.metro_container .metro_title
{
    color: #C8CDD2;
}
.metro_container:hover {
	background: #2D7073;
}
.metro_container:hover i,
.metro_container:hover .metro_title
{
	color: #C8CDD2;
}
.metro_container.active,
.info-number .bg-green
{
	background: #337AB7 !important;
	border: 1px solid #337AB7 !important;
}
.metro_container.active i,
.metro_container.active .metro_title
{
    color: white;
}
.site_title i {
    border: 1px solid #EAEAEA;
	color: #EAEAEA;
}
.right_navbar {
	background: #D9DEE4 !important;
	border: 1px solid #D9DEE4 !important;
}
.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
    background: #D9DEE4;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #337AB7;
    border-color: #337AB7;
}
.btn-success, .btn-success:focus, .btn-success:active:focus {
    background: #26B99A;
    border: 1px solid rgba(0,0,0,.2);
}
.btn-success:hover {
    background: #229D83;
    border: 1px solid rgba(0,0,0,.2);
}
.btn-primary, .btn-primary:focus, .btn-primary:active:focus {
	background-color: #337ab7;
    border: 1px solid rgba(0,0,0,.2);
}
.btn-primary:hover {
	background-color: #2B679B;
    border: 1px solid rgba(0,0,0,.2);
}
.form-control:focus, .single-line:focus {
    border-color: #1ABB9C;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.vueTableAdd
{
    border: 1px solid #2A3F54;
	background: #2A3F54;
	color: white;
}
.table-responsive thead {
    background: #2A3F54;
    color: white;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2A3F54;
    border-color: #2A3F54;
}
.icheckbox_flat-green, .iradio_flat-green {
	background: url(theme-night-sky.png) no-repeat;
}
.daterangepicker .calendar-table thead tr:first-child {
	background: #26B99A;
	color: white;
}
.daterangepicker th.available:hover {
	background-color: #229D83;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
	background: #337ab7;
}
.daterangepicker:after {
	border-bottom: 6px solid #26B99A;
}
.ranges .btn-default {
	color: white;
    background-color: #337ab7;
    border-color: rgba(0,0,0,.2);
}
.ranges .btn-default:hover {
    background-color: #2B679B;
}
.fab .padder:nth-child(1) a { background: #337AB7; }
.fab .padder:nth-child(2) a { background: #FEC107; }
.fab .padder:nth-child(3) a { background: #CCDB38; }
.fab .padder:nth-child(4) a { background: #8BC24A; }
.fab .padder:nth-child(5) a { background: #4BAF4F; }
.fab .padder:nth-child(6) a { background: #019587; }
th.VueTables__sortable {
    border-left: 1px solid #337AB7 !important;
    border-top: 1px solid #337AB7 !important;
    border-bottom: 1px solid #337AB7 !important;
}
th.VueTables__sortable:last-child {
    border-right: 1px solid #337AB7 !important;
}