#menu_toggle,
.top_search .input-group-btn button,
.nav.navbar-nav>li>a,
.breadcrumb a,
body,
.form-control,
.bootstrap-select .filter-option,
.bootstrap-select .dropdown-toggle
{
	color: #717171 !important;							/*main text color*/
}
.logo-small path,
.logo_normal path
{
	fill: #FF2F59;
}
.scroll-view,
.nav_title
{
	background: white;											/*Metro background white*/
}
.metro_container {
	background: #E0E0E0;
}
.metro_container i,
.metro_container .metro_title
{
    color: #707070;
}
.metro_container:hover {
	background: #FF91A7;
}
.metro_container:hover i,
.metro_container:hover .metro_title
{
	color: white;
}
.metro_container.active,
.info-number .bg-green
{
	background: #FF2F59  !important;					/*Metro active menu primary*/
	border: 1px solid #FF2F59  !important;
}
.metro_container.active i,
.metro_container.active .metro_title
{
    color: white;
}
.site_title i {
    border: 1px solid #717171;
	color: #717171;
}
.right_navbar {
	background: white !important;
	border: 1px solid white !important;
}
.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
    background: white;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #FF2F59;
    border-color: #FF2F59;
}
.btn-success, .btn-success:focus, .btn-success:active:focus {
    background: #FF2F59;
    border: 1px solid rgba(0,0,0,.2);
}
.btn-success:hover {
    background: #E52A4F;
    border: 1px solid rgba(0,0,0,.2);
}
.btn-primary, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #673A59;
    border: 1px solid rgba(0,0,0,.2);
}
.btn-primary:hover {
	background-color: #4C2B42;
    border: 1px solid rgba(0,0,0,.2);
}
.form-control:focus, .single-line:focus {
    border-color: #FF2F59;
}
.bootstrap-select .dropdown-toggle:focus {
	border: 1px solid #FF2F59 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.vueTableAdd
{
    border: 1px solid #FF2F59;
	background: #FF2F59;
	color: white;
}
.table-responsive thead {
    background: #FF2F59;
    color: white;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #FF2F59;
    border-color: #FF2F59;
}
.icheckbox_flat-green, .iradio_flat-green {
	background: url(theme-clik.png) no-repeat;
}
.daterangepicker .calendar-table thead tr:first-child {
	background: #FF2F59;
	color: white;
}
.daterangepicker th.available:hover {
	background-color: #E52A4F;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
	background: #673A59;
}
.daterangepicker:after {
	border-bottom: 6px solid #FF2F59;
}
.ranges .btn-default {
	color: white;
    background-color: #673A59;
    border-color: rgba(0,0,0,.2);
}
.ranges .btn-default:hover {
    background-color: #4C2B42;
}
.fab .padder:nth-child(1) a { background: #FF2F59; }
.fab .padder:nth-child(2) a { background: #815F9A; }
.fab .padder:nth-child(3) a { background: #C895CE; }
.fab .padder:nth-child(4) a { background: #BF6DA1; }
.fab .padder:nth-child(5) a { background: #F65B5B; }
.fab .padder:nth-child(6) a { background: #FF9D5B; }
th.VueTables__sortable {
    border-left: 1px solid #FF2F59 !important;
    border-top: 1px solid #FF2F59 !important;
    border-bottom: 1px solid #FF2F59 !important;
}
th.VueTables__sortable:last-child {
    border-right: 1px solid #FF2F59 !important;
}
.metro-menu-closer,
.metro-menu-closer:before
{
	background: rgba(0,0,0,0);
}
.metro-menu-opener.active + .metro-menu-closer,
.metro-menu-opener.active + .metro-menu-closer:before
{
	background: rgba(0,0,0,.5);
}
a.panel-title, a.panel-title:focus {
	background: #FF2F59;
}
.list-group-item .standardlist_action i {
    background: #C5C7CB;
    color: white;
}
.list-group-item.active .standardlist_action i {
    background: white;
    color: #FF2F59;
}